.title-orders {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 30px;
}

.order-index-total {
  position: sticky!important;
  top: 75px;
  padding: 10px 30px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: bold;
    font-size: 22px;
    margin-right: 20px;
  }
  h4 {
    font-weight: bold;
    font-size: 21px;
  }
}

.order-index-content {
  width: 90%;
  margin: 100px auto;
  h2 {
   font-size: 18px;
 }
}

.order-index-footer {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
