.order-show-wrapper {
  width: 70%;
  margin: 90px auto;
  h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
}


.product-order-show {
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}


.guillo {
padding: 10px;
border-top: 1px solid lightgrey;
}
