// Specific CSS for your home-page
.division-card {
 height: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
}


.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}


.product_card {
h2 {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
p {
  font-size: 13px;
  color: black;
}
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
}
