<div class="profile-user-container">
  <h3 class= "product-user-title">TUS DATOS</h3>
  <h2>Nombre legal</h2>
  <p>Juana Manzo</p>
  <h2>Fecha de nacimiento</h2>
  <p>16 de abril de 1989</p>
  <h2>Telefono</h2>
  <p>+54 381584843</p>
  <h2>Direción</h2>
  <p>Ruben Dario y Algo</p>
  <h2>Provincia</h2>
  <p>Buenos Aires</p>
  <h2>Localidad</h2>
  <p>Recoleta</p>
  <h2>Codigo postal</h2>
  <p>40192</p>
  <h2>Dirección de correo electrónico</h2>
  <p><%= @user.email %></p>
  <button type="button" class="btn btn-gradient btn-lg btn-block">Editar Perfil</button>
</div>
