<%= link_to division_path(division) do %>
<div class="division-minicard" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= division.photo  %>);">
    <h1><%= division.title %></h1>
</div>
<% end %>
