<div class="footer">
  <div class="footer-copyright">
     <div class="footer-links">
    <a href="https://www.instagram.com/cottoncomplementos/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/cottondeco"  target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
    <h2><i class="far fa-copyright"></i> COTTON COMPLEMENTOS</h2>
    <p>Sarmiento 8 , San Nicolas de Los Arroyos, Buenos Aires, Argentina</p>
    <h3>Made by <a href="http://www.guillermo-varela.com/" target="_blank"><strong>GV</strong> </a></h3>
  </div>
</div>
