<div class="product_home_card">
  <%= link_to product_path(product) do %>
  <% product.photos.first(1).each do |photo| %>
  <%= cl_image_tag photo.key%>
  <% end %>
  <h2><%= product.title.truncate(30) %></h2>
  <p><%= humanized_money_with_symbol(product.price) %></p>
  <% end %>
</div>
