<div class="home-product-wrapper">
  <h3>Más Populares</h3>
  <div class="division-cards-wrapper">
    <% @products.uniq(&:title).last(8).each do |product| %>
    <%= render 'shared/product_home_card', product: product %>
    <% end %>
  </div>
</div>
<div class="home-product-wrapper">
  <h3>Más Vendidos</h3>
  <div class="division-cards-wrapper">
    <% @products.uniq(&:title).drop(8).first(8).each do |product| %>
    <%= render 'shared/product_home_card', product: product %>
    <% end %>
  </div>
</div>
