<div class="home-product-wrapper">
  <h3>Mas Populares</h3>
  <div class="division-cards-wrapper">
    <% @products.last(8).each do |product| %>
    <%= render 'shared/product_home_card', product: product %>
    <% end %>
  </div>
</div>
<div class="home-product-wrapper">
  <h3>Mas Vendidos</h3>
  <div class="division-cards-wrapper">
    <% @products.drop(8).first(8).each do |product| %>
    <%= render 'shared/product_home_card', product: product %>
    <% end %>
  </div>
</div>
