<%= render 'shared/navbar' %>
<section id="home-banner">
  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519643381401-22c77e60520e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80);">
  </div>
</section>
<section id="home-cards">
  <%= render 'home_cards' %>
</section>
<section id="products-cards">
  <%= render 'home_products' %>
</section>

<p><%= link_to "Cerrar sesíon", destroy_user_session_path, method: :delete %></p>
