<%= render 'shared/navbar' %>
<section id="home-banner">
  <div class="home-banner" style="background-image: linear-gradient(to right, rgba(0,0,0,.6), rgba(250,250,250,.1)), url(https://res.cloudinary.com/san-patricio/image/upload/v1587489921/photo-1519643381401-22c77e60520e_ln1cdp.jpg);">
    <div class="home-main-container">
      <div class="mb-3">
       <h1>COTTON</h1>
       <h1>COMPLEMENTOS</h1>
     </div>
     <%= link_to 'Descubre más', '#home-cards', class: 'btn-home'  %>
   </div>
 </div>
</section>
<section id="home-cards">
  <%= render 'home_cards' %>
</section>
<section id="products-cards">
  <%= render 'home_products' %>
</section>

