//categories button in categories/show.html.erb
.mobile-button-container {
  width: 90%;
  margin: 0 auto;
  h2 {
    margin-bottom: 15px;
    color: #26262c;
    font-size: 22px;
  }
  p {
    color: #5c5c5f;
    font-size: 13px;
    margin-top: 10px;
  }
}
.categories-button {
  width: 200px;
  padding: 10px 0px;
  font-size: 13px;
  background-color: white;
  border-color: lightgrey;
  i {
    margin-left: 76px;
  }
  &:focus {
    outline: none;
  }
}

.filter-button {
  margin-right: 10px;
  padding: 10px 0px;
  width: 90px;
  font-size: 13px;
  background-color: white;
  border-color: lightgrey;
  i {
    margin-left: 76px;
  }
  &:focus {
    outline: none;
  }
}

.dropdown-menu {
  min-width: 200px !important;
  font-size: 13px;
}

.mobile-button {
  display: flex;
  justify-content: space-between;
}

#myCatButton {
 background-color: transparent;
 border: none;
 width: 100%;
 font-size: 16px;
 color: black;
 display: flex;
 padding: 0px;
 &:focus {
  outline: none;
}
&:hover {
  color: #167a92;
}
}
#myComprarButton {
 background-color: transparent;
 border: none;
 width: 100%;
 font-size: 16px;
 color: black;
 display: flex;
 padding: 0px;
 &:focus {
  outline: none;
}
&:hover {
  color: #167a92;
}
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}

.btn-filter {
  background-color: #167a92;
  color: white;
  &:hover {
    color: white;
  }
}

.btn-order {
  color: white;
  padding: 8px 24px;
  width: 300px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}


@media(max-width: 688px) {
  .mobile-button-container {
    width: 96%;
    margin: 0 auto;
  }
  .btn-order {
    width: 270px;

  }
}
