//categories button in categories/show.html.erb
.mobile-button-container {
  width: 90%;
  margin: 0 auto;
  h2 {
    margin-bottom: 15px;
    color: #26262c;
    font-size: 22px;
  }
  p {
    color: #5c5c5f;
    font-size: 13px;
    margin-top: 10px;
  }
}
.categories-button {
  width: 200px;
  padding: 10px 0px;
  font-size: 13px;
  background-color: white;
  border-color: lightgrey;
  i {
    margin-left: 76px;
  }
  &:focus {
    outline: none;
  }
}

.filter-button {
  margin-right: 10px;
  padding: 10px 0px;
  width: 90px;
  font-size: 13px;
  background-color: white;
  border-color: lightgrey;
  i {
    margin-left: 76px;
  }
  &:focus {
    outline: none;
  }
}

.dropdown-menu {
  width: 200px !important;
  font-size: 13px;
}

.mobile-button {
  display: flex;
  justify-content: space-between;
}

#myCatButton {
 background-color: transparent;
 border: none;
 width: 100%;
 font-size: 16px;
 color: black;
 &:focus {
  outline: none;
 }
 &:hover {
  color: #167a92;
 }
}
