.navbar-home {
  justify-content: space-between;
  background: rgba(255,255,255, 0.9);
  background: white;
  background-color: transparent;
  transition: 0.1s background-color ease;
  h2 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  a {
    color: white;
  }
}

.navbar-home .navbar-collapse {
  flex: 0 0 30%;
}




.navbar-home-white {
  background-color: white;
  h2 {
    color: black;

  }
   a {
    color: black;
  }
}
