.product-show-container {
  margin-top: 75px;
}

.product-image {
  flex: 0 0 60%;
  img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.product-show-content {
  width: 90%;
  margin: 0 auto;
  p {
    color: grey;
    font-size: 10px;
    margin: 0;
    padding: 5px 0px;
  }
  h2 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  h3 {
    font-size: 15px;
    text-align: left;
  }
}

.product-show-variants {
  text-align: left;
  margin: 30px 0px;
}

//Product javascript buttons under shop button
.product-show-list {
  padding: 16px 0px;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  p {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
  }
  &:hover {
    p {
      color: $beige;
    }
  }
}

.product-show-list-hide {
  border-bottom: 1px solid lightgrey;
  p {
    font-size: 14px;
    color: grey;
    padding-bottom: 20px;
  }

}

.show-product-footer {
  width: 90%;
  margin: 0 auto;
}

.none {
  display: none;
}

.show {
  display: block;
}


.product-shop-list {
  padding: 16px 0px;
  border-bottom: 1px solid lightgrey;
  p {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
  }
  &:hover {
    p {
      color: $beige;
    }
  }
}

.border-transparent {
  border-bottom: none;
}
// finish the javasctipt part of button

//Title under javascript buttons
.product-display {
  padding: 16px 0px;
  border-bottom: 1px solid lightgrey;
  p {
    margin-top: 40px;
    font-size: 19px;
    margin-bottom: 0px;
    font-weight: bold;
  }
}

.variant-container {
  width: 80%;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid grey;
  h2 {
    color: grey;
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
  }
}
//where the size are display
.label-size {
  margin-bottom: 10px;
  label {
    margin-right: 16px;
  }
}

@media(max-width: 1025px) {
  .product-image {
    img {
      width: 100%;
      height: 55vh;
      object-fit: cover;
    }
  }
}

@media(max-width: 992px) {
  .product-show-content {
    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
  }

  .product-image {
    img {
      width: 100%;
      height: 70vh;
      object-fit: cover;
    }
  }

  .product-show-variants {
    text-align: center;
    margin: 30px 0px;
  }

  .product-display {
    p {
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: left;
      font-weight: lighter;
    }
  }
  //where the size are display
  .label-size {
    justify-content: center;
    margin-bottom: 10px;
    label {
      margin-right: 16px;
    }
  }
}


@media(max-width: 576.98px) {
  .product-image {
    img {
      height: 60vh;
    }
  }
}
@media(max-width: 380.98px) {
  .product-image {
    img {
      height: 50vh;
    }
  }
}

@media(max-width: 340.98px) {
  .product-image {
    img {
      height: 46vh;
    }
  }
}

