<p>Tienes una nuevo Encargo en Cotton de <%= @charge.user.email %></p>

Detalle del Encargo<br>
--------------------------
<p><strong>Producto: </strong><%= @charge.product.title %></p>
<p><strong>Precio:</strong> <%= @charge.product.price %></p>
</div>


