//cart show model
.keep-shopping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: grey;
  margin-bottom: 0px;
  h2 {
    color: grey;
    font-size: 20px;
  }

  p {
    font-size: 25px;
  }

  a {
    color: grey;
  }
}

.cart-container {
  width: 500px;
  margin: 0 auto;

}

.order-checkout {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}
//box of the checkout
.check-out-wrapper {
  h2 {
    font-size: 18px;
    color: #26262c;
    font-weight: bold;
    text-align: center;
  }
}

.check-out-container {
  padding: 16px;
  border: 1px solid lightgrey;
}

.price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted lightgrey;
  margin-bottom: 10px;
  padding: 10px 0px;
  h3 {
    font-size: 13px;
    color: #26262c;
    margin-bottom: 0px;
  }

  p {
    font-size: 13px;
    margin-bottom: 0px;
  }


}

.price-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 18px;
    color: rgb(74, 73, 74);
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
}



@media (min-width: 100px)and(max-width: 675px) {
  .cart-container {
    width: 90%;
    margin: 0 auto;

  }
}
